<script>
  import { onMount } from "svelte";

  import Header from "./components/Header.svelte";
  import Footer from "./components/Footer.svelte";
  import Tabs from "./shared/Tabs.svelte";
  import CreateProposalForm from "./components/CreateProposalForm.svelte";
  import ProposalsList from "./components/ProposalsList.svelte";

  export let name;
  export let contract;
  export let provider;
  export let web3;

  let items = ["All proposals", "Vote ready proposals"];
  const ifManagerText = "Add new proposal";
  let activeItem = items[0];

  onMount(async () => {
    if (provider) {
      [address] = await web3.eth.getAccounts();

      await getProposals();
      await checkIsManager();
    }
  });

  const getProposals = async () => {
    proposals = await contract.methods.getProposals().call();
  };

  const checkIsManager = async () => {
    if (items.includes(ifManagerText)) {
      const index = items.indexOf(ifManagerText);
      items.splice(index, 1);
      items = items;
    }

    if (address != null) {
      const contractManager = await contract.methods.manager().call();
      if (
        contractManager.toLowerCase() === address.toLowerCase() &&
        !items.includes(ifManagerText)
      ) {
        items.push(ifManagerText);
        items = items;
      }
    }
  };

  const tabChange = (e) => {
    activeItem = e.detail;
    getProposals();
  };

  const checkAccountsChanged = () => {
    provider.on("accountsChanged", async () => {
      [address] = await web3.eth.getAccounts();

      getProposals();
      checkIsManager();
    });
  };

  $: address = address;
  $: proposals = proposals;
  $: if (window.ethereum) checkAccountsChanged();
</script>

<Header />

<main>
  {#if contract && proposals}
    <Tabs {activeItem} {items} on:tabChange={tabChange} />
    {#if activeItem === items[0]}
      <ProposalsList {contract} {address} filter={"none"} {proposals} />
    {:else if activeItem === items[1]}
      <ProposalsList {contract} {address} filter={"open"} {proposals} />
    {:else if activeItem === items[2]}
      <CreateProposalForm {contract} />
    {/if}
  {:else if contract}
    <p>Loading</p>
  {:else if contract}
    <p>Please login to web3</p>
  {:else}
    <p>Follow this guide to enter the app.</p>
  {/if}
</main>
<Footer {name} />

<style>
  main {
    max-width: 960px;
    margin: 40px auto;
    text-align: center;
  }
</style>
