<script>
  export let contract;

  let title;
  let description = "";

  async function createProposal() {
    await contract.methods
      .createProposal(title, description)
      .send({ from: window.ethereum.selectedAddress });
  }
</script>

<input placeholder="Title" bind:value={title} />
<input placeholder="Description" bind:value={description} />
<button on:click={createProposal}>Create new proposal</button>
