<script>
  // your script goes here
</script>

<header>
  <h1>
    <img src="./img/vote.jpeg" alt="Logo" />
  </h1>
</header>

<style>
  header {
    background: #f7f7f7;
    padding: 20px;
  }
  h1 {
    margin: 0;
    text-align: center;
  }
  img {
    max-height: 250px;
  }
</style>
