<script>
  import { createEventDispatcher } from "svelte";
  const dispatch = createEventDispatcher();

  export let address;
  export let contract;
  export let proposal;
  export let vote;
  export let index;

  const testAddress = "0xe8746576141BD9235e115d6076fA640Cd3CE178D";

  // const getVoted = async (id) => {
  //   const result = await contract.methods.hasVoted(id, selectedAddress).call();
  //   console.log(result);
  //   vote = result;
  // };

  const voting = async (index, bool) => {
    if (address === testAddress) {
      alert("This is only a test")
    } else {
      await contract.methods.vote(index, bool).send({ from: address });
      dispatch("vote");
    }
  };

  // console.log(index);

  // $: voted = getVoted(index);
  // $: window.ethereum.on("accountsChanged", () => getVoted());
  $: vote = vote;
</script>

<div class="poll">
  <h3>{proposal.title}</h3>
  <i class="index">#{index + 1}</i>
  <p>{proposal.description}</p>
  {#if vote == true}
    <button class="voted" disabled>
      <i class="fa-solid fa-check-to-slot" /> Voted
    </button>
  {:else if vote == false}
    <button class="upvote option" on:click={() => voting(index, true)}>
      <i class="fa-solid fa-thumbs-up" /> Upvote
    </button>
    <button class="downvote option" on:click={() => voting(index, false)}>
      <i class="fa-solid fa-thumbs-down" /> Downvote
    </button>
  {/if}
</div>

<style>
  h3 {
    margin: 0 auto;
    color: #555;
  }

  p {
    margin-top: 6px;
    font-size: 14px;
    color: #aaa;
  }

  .index {
    font-size: 10px;
  }

  .poll {
    padding: 20px;
  }

  .option {
    color: white;
    border: 2px solid white;
    opacity: 0.6;
  }

  .option:hover {
    opacity: 1;
  }

  .downvote {
    background: #ff2335;
    border-color: #e00013;
  }

  .upvote {
    background: #43d375;
    border-color: #2bb65b;
  }

  .voted {
    background: #f7f7f7;
    cursor: not-allowed;
  }

  .voted:hover {
    opacity: 0.6;
  }
</style>
