<script>
  import { onMount } from "svelte";
  import ProposalDetails from "./ProposalDetails.svelte";

  export let address;
  export let contract;
  export let proposals;
  export let filter;

  let hasVoted = [];

  onMount(async () => {
    updateHasVoted();
  });

  const updateHasVoted = async () => {
    proposals.forEach(async (proposal, id) => {
      contract.methods
        .hasVoted(id, address)
        .call()
        .then((result) => {
          hasVoted[id] = { id, hasVoted: result };
          hasVoted = hasVoted;
        });
    });
  };

  $: hasVoted = hasVoted;
</script>

{#if proposals.length > 0}
  <div class="list">
    {#each [...hasVoted].reverse() as voted, index}
      {#if filter == "none" || (filter == "open" && !voted.hasVoted)}
        <div class="item">
          <ProposalDetails
            {address}
            on:vote={updateHasVoted}
            {contract}
            proposal={proposals[voted.id]}
            vote={voted.hasVoted}
            index={voted.id}
          />
        </div>
      {/if}
    {/each}
  </div>
{:else}
  <h1>Nothing to show</h1>
{/if}

<style>
  .list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 20px;
    padding: 0 20px;
  }

  @media screen and (min-width: 480px) {
    .list {
      /* grid-template-columns: repeat(3, 1fr); */
      padding: 0;
      margin: 20px 0;
    }
  }

  .item {
    display: flex;
    height: 200px;
    width: 300px;
    background: #f7f7f7;

    align-items: center;
    justify-content: center;
  }
</style>
